<ion-app>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>Transport For Change</ion-title>
        </ion-toolbar>
    </ion-header>
        <ion-content class="background-image" [fullscreen]="true" force-overscroll="true">
            <ion-header collapse="condense">
                <ion-toolbar>
                    <ion-title size="large">Transport For Change</ion-title>
                </ion-toolbar>
            </ion-header>
        <ion-router-outlet class="outlet"></ion-router-outlet>
    </ion-content>
</ion-app>
