<ion-app>
    <ion-header>
        <div class="flex padding title-container">
            <div class="flex title-top-container">
                <div>Transport</div>
                <div>
                    <img class="height-1em" src="assets/icon/tfc-leaf.png" alt="">
                    For
                </div>
            </div>
            <div class="title-bottom-container">
                Change
            </div>
        </div>
    </ion-header>
    <ion-content [fullscreen]="true" force-overscroll="true">
        <ion-router-outlet class="outlet"></ion-router-outlet>
    </ion-content>
</ion-app>
