ion-content {
  --offset-top: -0px !important;
}

ion-title {
  background: transparent;
  --background: unset;
  letter-spacing: -0.025rem;
}

.outlet {
  margin-top: 2rem;
}

.header-background {
  display: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.title-top-container {
  width: 50%;
  text-align: right;
  margin-left: 0px;
  margin-right: auto;
}

.title-bottom-container {
  width: calc(50% + 1rem);
  margin-left: auto;
  margin-right: 0px;
}

.height-1rem {
  height: 1rem;
}

.padding {
  padding: 0.6rem;
}

.title-container {
  color: #5f9bd5;
  font-family: "Comfortaa", sans-serif !important;
  font-size: large;
}
